fastapi==0.138.2
uvicorn==0.49.0

requests
beautifulsoup4
lxml

python-dotenv

chromadb

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface

sentence-transformers

google-generativeai

pydantic